<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:replace th:fragment="common-css" th:replace="base :: common-css"></th:replace>
    <title>Currency List</title>
</head>
<body>

<header th:replace="base :: header"></header>

<div class="container py-5">
    <table class="table table-striped mt-5">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Code</th>
            <th scope="col">Symbol</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="currency : ${currencies}">
            <th th:text="${currency.id}"></th>
            <th th:text="${currency.name}"></th>
            <td th:text="${currency.code}"></td>
            <td th:text="${currency.symbol}"></td>
            <td>
                <a th:href="@{'/admin/currency/{id}/edit'(id=${currency.id})}">Edit</a>
                <a href="#" th:attr="onclick='deleteCurrency(\'' + ${currency.id} + '\')'">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-success mt-3 mb-3" href="/admin/currency/save">New Currency</a>
</div>

<footer th:replace="base :: footer"></footer>

<script th:src="@{/scripts/currency.js}"></script>

<th:replace th:fragment="scripts" th:replace="base :: scripts"></th:replace>

</body>
</html>