<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:replace th:fragment="common-css" th:replace="base :: common-css"></th:replace>
    <title>Exchange</title>
</head>
<body>

<header th:replace="base :: header"></header>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-sm-12">
            <div class="my-5">
                <h3>Calculate exchange</h3>
                <form class="my-3">
                    <div class="form-group my-3">
                        <select class="form-control" id="operation" name="operation" required>
                            <option value="">Select an operation</option>
                            <option value="PURCHASE">Purchase</option>
                            <option value="SALE">Sale</option>
                        </select>
                    </div>
                    <div class="form-group my-3">
                        <select class="form-control" id="market" name="market" required>
                            <option value="">Select a market</option>
                            <th:block th:each="market : ${markets}">
                                <option th:value="${market.code}" th:text="${market.name}"></option>
                            </th:block>
                        </select>
                    </div>
                    <div class="form-group my-3">
                        <select class="form-control" id="from" name="from" required>
                            <option value="">Select base currency</option>
                            <th:block th:each="currency : ${currencies}">
                                <option th:value="${currency.code}" th:text="${currency.name}"></option>
                            </th:block>
                        </select>
                    </div>
                    <div class="form-group my-3">
                        <select class="form-control" id="to" name="to" required>
                            <option value="">Select quote currency</option>
                            <th:block th:each="currency : ${currencies}">
                                <option th:value="${currency.code}" th:text="${currency.name}"></option>
                            </th:block>
                        </select>
                    </div>
                    <div class="form-group my-3">
                        <label for="amount">Amount:</label>
                        <input class="form-control" type="number" id="amount" name="amount">
                    </div>
                    <button class="btn btn-primary mt-3" type="button" onclick="exchange()">Calculate exchange</button>
                </form>
            </div>
        </div>
        <div class="col col-lg-9 col-sm-12 vh-100 bg-light">
            <div class="text-center my-5">
                <p class="display-4" id="result"></p>
            </div>
        </div>
    </div>
</div>

<footer th:replace="base :: footer"></footer>

<script th:src="@{/scripts/main-scripts.js}"></script>

<script th:replace="base :: scripts"></script>

</body>
</html>