<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <th:replace th:fragment="common-css" th:replace="base :: common-css"></th:replace>
  <title>New Market</title>
</head>
<body>

<header th:replace="base :: header"></header>

<div class="container-fluid">
  <div class="col-lg-3 col-sm-10 mx-auto my-5">
  <form class="mt-3 mb-3" action="#" th:action="@{'/admin/market/save'}" th:object="${market}"
        method="POST">
    <div class="form-group">
      <label for="name">Currency name:</label>
      <input class="form-control" type="text" id="name" name="name" th:field="*{name}" />
    </div>
    <div class="form-group">
      <label for="code">Currency code:</label>
      <input class="form-control" type="text" id="code" name="code" th:field="*{code}" />
    </div>
    <div class="form-group">
      <label for="currency">Market currency:</label>
      <select class="form-control" id="currency" name="currency.id" required>
        <option value="">-- Select a currency --</option>
        <th:block th:each="currency : ${currencies}">
          <option th:value="${currency.id}" th:text="${currency.name}"></option>
        </th:block>
      </select>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Save market</button>
  </form>
  </div>
</div>

<footer th:replace="base :: footer"></footer>

<th:replace th:fragment="scripts" th:replace="base :: scripts"></th:replace>
</body>
</html>