<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:replace th:fragment="common-css" th:replace="base :: common-css"></th:replace>
    <title>Value List</title>
</head>
<body>

<header th:replace="base :: header"></header>

<div class="container-fluid py-5">
    <ul class="nav justify-content-center m-5">
        <li class="nav-item m-2">
            <div class="form-group">
                <select class="form-control" id="currency" name="currency" required>
                    <option value="">Select currency</option>
                    <th:block th:each="currency : ${currencies}">
                        <option th:value="${currency.code}" th:text="${currency.name}"></option>
                    </th:block>
                </select>
            </div>
        </li>
        <li class="nav-item m-2">
            <div class="form-group">
                <select class="form-control" id="market" name="market" required>
                    <option value="">Select market</option>
                    <th:block th:each="market : ${markets}">
                        <option th:value="${market.code}" th:text="${market.name}"></option>
                    </th:block>
                </select>
            </div>
        </li>
        <li class="nav-item m-2">
            <button class="btn btn-primary" type="button" onclick="showValues(0)">Get values</button>
        </li>
        <li class="nav-item m-2">
            <a href="/admin/value/save" class="btn btn-success">Add value</a>
        </li>
    </ul>
    <div class="row">
        <div class="col mb-5">
            <table class="table table-striped" id="table"></table>
            <nav aria-label="Page navigation" class="sr-only" id="pagination">
                <ul class="pagination">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#" id="page1" onclick="showValues(0)">1</a></li>
                    <li class="page-item"><a class="page-link" href="#" id="page2" onclick="showValues(1)">2</a></li>
                    <li class="page-item"><a class="page-link" href="#" id="page3" onclick="showValues(2)">3</a></li>
                    <li class="page-item"><a class="page-link" href="#" id="page4" onclick="showValues(3)">4</a></li>
                    <li class="page-item"><a class="page-link" href="#" id="page5" onclick="showValues(4)">5</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<footer th:replace="base :: footer"></footer>

<script th:src="@{/scripts/value.js}"></script>

<th:replace th:fragment="scripts" th:replace="base :: scripts"></th:replace>

</body>
</html>