<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:replace th:fragment="common-css" th:replace="base :: common-css"></th:replace>
    <title>Variation</title>
</head>
<body>

<header th:replace="base :: header"></header>

<!--<div class="container-fluid">-->
<!--    <div class="col-lg-3 col-sm-10 mx-auto my-5">-->
<!--        <h1 class="h2">Calculate variation</h1>-->
<!--        <form class="mt-3 mb-3">-->
<!--            <div class="form-group">-->
<!--                <label for="currency">Original currency iso code:</label>-->
<!--                <select class="form-control" id="currency" name="currency" required>-->
<!--                    <option value="">&#45;&#45; Select a currency &#45;&#45;</option>-->
<!--                    <th:block th:each="currency : ${currencies}">-->
<!--                        <option th:value="${currency.code}" th:text="${currency.name}"></option>-->
<!--                    </th:block>-->
<!--                </select>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label for="market">Market code:</label>-->
<!--                <select class="form-control" id="market" name="market" required>-->
<!--                    <option value="">&#45;&#45; Select a market &#45;&#45;</option>-->
<!--                    <th:block th:each="market : ${markets}">-->
<!--                        <option th:value="${market.code}" th:text="${market.name}"></option>-->
<!--                    </th:block>-->
<!--                </select>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label for="date">Since when:</label>-->
<!--                <input class="form-control" type="date" id="date" name="date"><br><br>-->
<!--            </div>-->
<!--            <button class="btn btn-primary" type="button" onclick="variation()">Calculate variation</button>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-sm-12 py-5">
            <div class="my-5">
                <h3>Calculate variation</h3>
                <form class="mt-3 mb-3">
                    <div class="form-group">
                        <select class="form-control my-3" id="currency" name="currency" required>
                            <option value="">Select currency</option>
                            <th:block th:each="currency : ${currencies}">
                                <option th:value="${currency.code}" th:text="${currency.name}"></option>
                            </th:block>
                        </select>
                    </div>
                    <div class="form-group my-3">
                        <select class="form-control" id="market" name="market" required>
                            <option value="">Select market</option>
                            <th:block th:each="market : ${markets}">
                                <option th:value="${market.code}" th:text="${market.name}"></option>
                            </th:block>
                        </select>
                    </div>
                    <div class="form-group my-3">
                        <label for="date">Since when:</label>
                        <input class="form-control" type="date" id="date" name="date" required>
                    </div>
                    <button class="btn btn-primary mt-3" type="button" onclick="variation()">Calculate variation</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="text-center my-5 " id="result"></div>
        </div>
    </div>
</div>

<footer th:replace="base :: footer"></footer>

<script th:src="@{/scripts/variation.js}"></script>

<script th:replace="base :: scripts"></script>

</body>
</html>